extends ../base
block head
    title Welcome
block content
    section.section.welcome
        .social-icons
            svg.social__item
                use(xlink:href="#vk")
            svg.social__item
                use(xlink:href='./img/symbols.svg#github')
            svg.social__item
                use(xlink:href='./img/symbols.svg#in')
        .login
            a(href="./main.html").menu__link.welcome__link Авторизоваться
        .welcome_block
            .welcome__user.user
                .user-pic
                    img(src=require("./img/user__img.jpg")).user__pick-img
                .user__info
                    .user__name Герман Бежев
                    .user__data Трактакт о нелегком пути
            ul.socials.welcome__socials
                - 
                        var links = [
                            ['https://vk.com/id95685477', 'vk'],
                            ['https://twitter.com/conscientia_non','tw'],
                            ['https://github.com/lilkan','git'],
                        ]
                each item in links
                    li.socials__item
                        a(href=`${item[0]}`).social__link
                            img(src=require(`./img/${item[1]}.png`)).social__img
            nav.menu.welcome__menu
                ul.menu__list.welcome__menu-list
                    -
                        var pages = [
                            ['./works.html','Мои работы'],
                            ['./about.html','Обо мне'],
                            ['./blog.html', 'Блог'],
                        ]
                    each item in pages
                        li.menu__item.welcome__menu-items
                            a(href=`${item[0]}`).menu__link #{item[1]}